結果はこちらです
<table>
  <tr>
    <td>視覚・空間的知能</td>
    <td><%= @test.visual %></td>
  <tr>
  <tr>
    <td>内省的知能</td>
    <td><%= @test.introspective %></td>
  <tr>
  <tr>
    <td>言語・語学知能</td>
    <td><%= @test.language %></td>
  <tr>
  <tr>
    <td>音楽・リズム的知能</td>
    <td><%= @test.music %></td>
  <tr>
  <tr>
    <td>対人的知能</td>
    <td><%= @test.interpersonal %></td>
  <tr>
  <tr>
    <td>身体・運動的知能</td>
    <td><%= @test.physical %></td>
  <tr>
  <tr>
    <td>博物的知能</td>
    <td><%= @test.museum %></td>
  <tr>
  <tr>
    <td>霊性・実在知能</td>
    <td><%= @test.spirituality %></td>
  <tr>
  <tr>
    <td>論理・数学的知能</td>
    <td><%= @test.logical %></td>
  <tr>
</table>